<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="200" alt="RK Mail Logo" src="assets\mail3.jfif"><br><br><br><br>
</div>
<form #userPost="ngForm" style="text-align:center" (ngSubmit)="onSubmit(userPost.value)">
    <input type="text" name="receiverMailId" placeholder="receiverMailId" ngModel><br><br>
   <input type="text" name="subject" placeholder="subject" ngModel><br><br>
   <input type="text" name="body" placeholder="body" ngModel><br><br>
    <input type="text" name="attachment" placeholder="attachment location" ngModel><br><br>
  <button type="submit">SUBMIT</button><br><br>
</form>
<router-outlet></router-outlet>
